# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# misc
.turbo/
coverage/
.cache/
