DATABASE_URL="postgresql://postgres:postgres@localhost:5432/optio"

BETTER_AUTH_SECRET="generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="https://app.optio.localhost"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
